# Node
backend/node_modules/
backend/dist/
backend/.env
backend/*.log

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Runner/GeneratedPluginRegistrant.h
mobile/ios/Runner/GeneratedPluginRegistrant.m
mobile/android/.gradle/
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/android/local.properties
mobile/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
mobile/pubspec.lock
mobile/*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
